.green{
    color: rgb(20, 102, 20);
}
.news{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    font-size: 20px;

    width: 250px;
}
.news ul{
margin-top: 5px;   
}

.news ul li{
    margin-left: -10px;
    text-decoration: none;
}

.news ul li a{
    text-decoration: none;
    color: inherit;
}